<div class="row row-cols-3">
  @for(product of products; track product.id){
    <div class="col mb-3">
      <products-card [product]="product"></products-card>
    </div>
  }
  @for(product of products; track product.id){
    <div class="col mb-3">
      <products-card [product]="product"></products-card>
    </div>
  }
  @for(product of products; track product.id){
    <div class="col mb-3">
      <products-card [product]="product"></products-card>
    </div>
  }
  @for(product of products; track product.id){
    <div class="col  mb-3">
      <products-card [product]="product"></products-card>
    </div>
  }
</div>
