<div class="shopping-cart-item">
  <div class="shopping-cart-item__image-container">
    <img class="shopping-cart-item__image" [src]="variationImage" [alt]="item.variation.productName">
  </div>
  <div class="shopping-cart-item__details">
    <p class="shopping-cart-item__name">{{ item.variation.productName }}</p>
    @if (item.variation.flavorName) {
      <p>{{ item.variation.flavorName }} / {{ item.variation.weight.toFixed(2) }} kg</p>
    } @else {
      <span>{{ item.variation.weight.toFixed(2) }} kg</span>
    }
    <p class="shopping-cart-item__price">S/{{ item.variation.unitPrice.toFixed(2) }}</p>
    <div class="shopping-cart-item__buttons">
      <div class="input-group shopping-cart-item__quantity">
        <button (click)="removeOne()" class="btn btn-outline-secondary" id="button-addon1" type="button">-</button>
        <input (change)="changeQuantity($event)" type="number" min="1" max="999" class="form-control text-center" [(ngModel)]="item.quantity"
               aria-label="Example text with button addon" aria-describedby="button-addon1">
        <button (click)="addOne()" class="btn btn-outline-secondary" type="button">+</button>
      </div>
      <i (click)="removeItem()" class="bi bi-trash-fill shopping-cart-item__remove-button"></i>
    </div>

  </div>
</div>



