.shopping-cart-item{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;
}

.shopping-cart-item__image-container{
  width:50%;
}

.shopping-cart-item__image{
  width: 100%;
}

.shopping-cart-item__details{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 14px 0;
}

.shopping-cart-item__quantity{
  width: 124px;
}

.shopping-cart-item__name{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  text-decoration: none;
  color: inherit;
}

.shopping-cart-item__name:hover{
  text-decoration: underline;
}

.shopping-cart-item__remove-button{
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  color: #f44336
}

.shopping-cart-item__buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  margin-top: auto;
}

span{
  font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
