<form class="row g-3">
  <h2 class="fs-4 fw-bold">IDENTIFICACIÓN</h2>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Correo</label>
    <input type="email" class="form-control" id="inputAddress">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nombres</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label class="form-label">Apellidos</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-md-6">
    <label class="form-label">Documento de Identidad</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-md-6">
    <label class="form-label">Teléfono</label>
    <input type="text" class="form-control">
  </div>
  <h2 class="fs-4 fw-bold">ENVÍO</h2>
  <div class="col-12">
    <label class="form-label">Departamento</label>
    <select class="form-select">
      <option selected>Seleccione...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-12">
    <label class="form-label">Provincia, Distrito</label>
    <select class="form-select">
      <option selected>Seleccione...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-6">
    <label class="form-label">Dirección</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-md-6">
    <label class="form-label">Referencia</label>
    <input type="tel" class="form-control">
  </div>
  <div class="col-12 d-flex flex-row align-items-center">
    <span class="me-5">Tipo de envío</span>
    <div class="flex-grow-1">
      <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
      <label class="btn btn-outline-dark rounded-0 w-50" for="option1"><small>Delivery</small></label>
      <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
      <label class="btn btn-outline-dark rounded-0 w-50" for="option2"><small>Recojo</small></label>
    </div>
  </div>
  <h2 class="fs-4 fw-bold">INFORMACIÓN ADICIONAL</h2>
  <div class="col-12">
    <label class="form-label">Notas del pedido</label>
    <textarea class="form-control"></textarea>
  </div>
</form>
