<ng-container>
  <div class="text-center mb-4">
    <span class="h4 fw-bold">Resumen de Compra</span>
  </div>
  <table class="table-borderless w-100">
    <tbody>
      @for (item of items; track item.variation.id) {
        <tr>
          <td>
            <img class="rounded-2 py-1" [src]="imageBasePath + '/' + item.variation.image">
          </td>
          <td class="text-start">
            <span>{{ item.variation.productName }}</span>
            <br>
            @if (item.variation.flavorName) {
              <span class="text-secondary">{{ item.variation.flavorName }} / {{ item.variation.weight.toFixed(2) }}
                kg</span>
            } @else {
              <span>{{ item.variation.weight.toFixed(2) }} kg</span>
            }<span class="ms-3 fw-semibold">× {{ item.quantity }}</span>
          </td>
          <td class="text-end fw-semibold">
            <shared-currency class="item-total" [value]="item.quantity * item.variation.unitPrice"></shared-currency>
          </td>
        </tr>
      }
    <tr>
      <th colspan="2" class="pt-4 text-start" scope="row">Subtotal</th>
      <td class="pt-4 text-end">
        <shared-currency class="fw-semibold" [value]="total"></shared-currency>
      </td>
    </tr>
    <tr>
      <th colspan="2" class="text-start" scope="row">Gastos de Envío</th>
      <td class="text-end">
        <shared-currency class="fw-semibold" [value]="0"></shared-currency>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="fw-bolder fs-5">
      <th colspan="2" class="text-start fw-bolder" >TOTAL</th>
      <td class="text-end fw-bolder">
        <shared-currency [value]="total"></shared-currency>
      </td>
    </tr>
    </tfoot>
  </table>
  <button class="btn btn btn-dark w-100 fw-bold btn-lg">Realizar el pago</button>
</ng-container>
