<div class="mb-2">
  <ul class="d-flex justify-content-md-evenly justify-content-center gap-2 px-md-5 px-4 flex-wrap">
    <li>
      <a><u>Terminos y condiciones</u></a>
    </li>
    <li>
      <a><u>Política de delivery</u></a>
    </li>
    <li>
      <a><u>Política de garantía y devoluciones</u></a>
    </li>
    <li>
      <a><u>Tarifas y zonas de reparto</u></a>
    </li>
  </ul>
</div>
<hr class="text-secondary">
<div class="d-flex  w-100 px-4 justify-content-center">
  <p class="m-0 text-center">BreakingForce © 2024. Todos los derechos reservados</p>
</div>
