<div class="mb-2">
  <ul class="d-flex justify-content-evenly">
    <li>
      <a><u>Terminos y condiciones</u></a>
    </li>
    <li>
      <a><u>Política de delivery</u></a>
    </li>
    <li>
      <a><u>Política de garantía y devoluciones</u></a>
    </li>
    <li>
      <a><u>Tarifas y zonas de reparto</u></a>
    </li>
  </ul>
</div>
<hr class="text-secondary">
<div class="d-flex justify-content-center w-100">
  <p class="m-0">BreakingForce © 2024. Todos los derechos reservados</p>
</div>
