<aside [formGroup]="filterProductParams" class="d-none d-lg-block">
  <h4 class="m-0 pb-2 border-bottom border-2 border-black">FILTROS</h4>
  <div class="d-flex flex-column">
    <shared-accordion class="border-bottom" title="Categoría" [withoutColor]="true" [active]="true"
                      [titleStyles]="['px-0', 'shadow-none']"
                      [rounded]="false">
      <div class="mb-2">
        <shared-radio-group [formControlName]="'subcategoryId'" class="text-dark" [options]="subcategories"
                            idPrefix="Categoria"></shared-radio-group>
      </div>
    </shared-accordion>
    <shared-accordion class="border-bottom" title="Marca" [withoutColor]="true" [active]="true"
                      [titleStyles]="['px-0', 'shadow-none']"
                      [rounded]="false">
      <div class="mb-2">
        <shared-radio-group [formControlName]="'brandId'" class="text-dark" [options]="brands"
                            idPrefix="Marca"></shared-radio-group>
      </div>
    </shared-accordion>
    <shared-accordion title="Objetivo" [withoutColor]="true" [active]="true" [titleStyles]="['px-0', 'shadow-none']"
                      [rounded]="false">
      <div class="mb-2">
        <shared-radio-group [formControlName]="'objectiveId'" class="text-dark" [options]="objectives"
                            idPrefix="Objetivo"></shared-radio-group>
      </div>
    </shared-accordion>
  </div>
</aside>
<div class="bg-secondary-subtle rounded p-3 d-flex flex-column d-lg-none">
  <div class="d-flex justify-content-between w-100">
    <button class="btn btn-outline-dark me-2" data-bs-toggle="offcanvas" data-bs-target="#mobile-filter"
            aria-controls="mobile-filter">
      <i class="bi bi-funnel-fill"></i>
      <span class="ms-2 d-none d-sm-inline-block">Filtros</span>
    </button>
    <products-order-by-input [filterProductParams]="filterProductParams"></products-order-by-input>
  </div>
  @if (searchValue) {
    <div>
      <button class="btn btn-dark mt-2 d-flex mw-100 text-start overflow-hidden" aria-controls="mobile-filter" (click)="resetSearchValue()">
        <i class="bi bi-x"></i>
        <span class="me-2">{{ searchValue }}</span>
      </button>
    </div>
  }
</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobile-filter"
     aria-labelledby="mobile-filter">
  <div class="offcanvas-header">
    <h4 class="fs-2 fw-bolder offcanvas-title" id="offcanvasWithBothOptionsLabel">FILTROS</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div [formGroup]="filterProductParams" class="d-flex flex-column">
      <shared-accordion class="border-bottom" title="Categoría" [withoutColor]="true" [active]="true"
                        [titleStyles]="['px-0', 'shadow-none']"
                        [rounded]="false">
        <div class="mb-2">
          <shared-radio-group [formControlName]="'subcategoryId'" class="text-dark" [options]="subcategories"
                              idPrefix="Categoria"></shared-radio-group>
        </div>
      </shared-accordion>
      <shared-accordion class="border-bottom" title="Marca" [withoutColor]="true" [active]="true"
                        [titleStyles]="['px-0', 'shadow-none']"
                        [rounded]="false">
        <div class="mb-2">
          <shared-radio-group [formControlName]="'brandId'" class="text-dark" [options]="brands"
                              idPrefix="Marca"></shared-radio-group>
        </div>
      </shared-accordion>
      <shared-accordion title="Objetivo" [withoutColor]="true" [active]="true" [titleStyles]="['px-0', 'shadow-none']"
                        [rounded]="false">
        <div class="mb-2">
          <shared-radio-group [formControlName]="'objectiveId'" class="text-dark" [options]="objectives"
                              idPrefix="Objetivo"></shared-radio-group>
        </div>
      </shared-accordion>
    </div>
  </div>
</div>
