.container{
  background-color: white;
  border-radius: 20px;
}



h1{
  font-size: 32px;
  font-weight: 700;
}

.product-info__price{
  font-size: 24px;
  font-weight: 700;
  color: #ffc107;
}

input{
  width: 72px;
  text-align: right;
}
