.search-bar{
  background-color: inherit;
  border-bottom: 1px solid white;
  color: white;
  padding: 4px 10px;
  overflow: hidden;
}

.search-bar__input{
  background-color: inherit;
  color: inherit;
  border: 0;
  outline: none;
}

.search-bar__icon {
  font-size: 18px;
  padding: 0 8px;
  cursor: pointer;
}
