.container{
  background-color: white;
  border-radius: 20px;
}

.products-filter{
  width: 20%;
  min-width: 20%;
}

.products-filter::after{
  content: '';
  position: absolute;
  top: 5px; /* Adjust as needed */
  right: -1px; /* Adjust as needed */
  bottom: 5px; /* Adjust as needed */
  width: 1.5px; /* Border width */
  background-color: #e9ecef; /* Border color */
}
