<h1 class="text-center fw-bold my-4">Registrarse</h1>
<div class="mb-3">
  <label for="email" class="form-label">Correo</label>
  <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
</div>
<div class="mb-3">
  <label for="password" class="form-label">Contraseña</label>
  <input type="email" class="form-control" id="password" placeholder="Ingrese su contraseña">
</div>
<button class="btn btn-dark w-100 my-2">Ingresar</button>
<div class="d-flex flex-column align-items-center my-4">
  <span class="mb-2">¿No tienes cuenta?</span>
  <a routerLink="/auth/register" class="text-dark fw-semibold link-underline-dark">
    Registrarse
  </a>
</div>
