<button class="btn text-white fs-2 p-0" data-bs-toggle="offcanvas" data-bs-target="#mobile-menu-canvas"
        aria-controls="mobile-menu-canvas">
  <i class="bi bi-list"></i>
</button>

<div class="offcanvas offcanvas-start" id="mobile-menu-canvas" data-bs-scroll="true">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0 pt-0">
    <ul class="navbar__list">
      <li class="border rounded-0">
        <shared-search-bar [styles]="['text-black', 'fs-5', 'py-2', 'border-0']"></shared-search-bar>
      </li>
      <li class="border rounded-0">
        <shared-accordion title="Categorías" [titleStyles]="['fs-2']" [withoutColor]="true" [active]="false" [rounded]="false">
          <ul class="list-group list-group-flush px-0">
            @for (item of categories; track item.label) {
              <li class="list-group-item py-3 text-start">
                <a class="nav-link" data-bs-dismiss="offcanvas" aria-label="Close" [routerLink]="item.path" [queryParams]="item.queryParams">{{ item.label }}</a>
              </li>
             }
          </ul>
        </shared-accordion>
      </li>
      <li class="border rounded-0">
        <shared-accordion title="Marcas" [titleStyles]="['fs-2']" [withoutColor]="true" [active]="false" [rounded]="false">
          <ul class="list-group list-group-flush px-0">
            @for (item of brands; track item.label) {
              <li class="list-group-item py-3 text-start">
                <a class="nav-link" data-bs-dismiss="offcanvas" aria-label="Close" [routerLink]="item.path" [queryParams]="item.queryParams">{{ item.label }}</a>
              </li>
            }
          </ul>
        </shared-accordion>
      </li>
      <li class="border rounded-0">
        <shared-accordion title="Objetivos" [titleStyles]="['fs-2']" [withoutColor]="true" [active]="false" [rounded]="false">
          <ul class="list-group list-group-flush px-0">
            @for (item of objectives; track item.label) {
              <li class="list-group-item py-3 text-start">
                <a class="nav-link" data-bs-dismiss="offcanvas" aria-label="Close" [routerLink]="item.path" [queryParams]="item.queryParams">{{ item.label }}</a>
              </li>
            }
          </ul>
        </shared-accordion>
      </li>
    </ul>
  </div>
  <ul class="navbar__list border-top d-flex flex-row align-items-center justify-content-evenly py-2">
    <li class="navbar__icon">
      <a>
        <i class="bi bi-instagram"></i>
      </a>
    </li>
    <li class="navbar__icon">
      <a>
        <i class="bi bi-tiktok"></i>
      </a>
    </li>
    <li class="navbar__icon">
      <a>
        <i class="bi bi-facebook"></i>
      </a>
    </li>
    <li class="navbar__icon">
      <a>
        <i class="bi bi-whatsapp"></i>
      </a>
    </li>
  </ul>
</div>
